<div class="row">
  <div class="col-sm-3 hidden-xs"> </div>
  <div class="col-sm-6">
    <div class="panel-body">
      <p>
      The page you are requesting does not exist... <em>:(</em>
    </p>
    <p>
      If you have any questions,
      please reach out to us at <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#105;&#110;&#102;&#105;&#110;&#105;&#116;&#101;&#046;&#105;&#110;&#100;&#117;&#115;&#116;&#114;&#105;&#101;&#115;">
        &#105;&#110;&#102;&#111;&#064;&#105;&#110;&#102;&#105;&#110;&#105;&#116;&#101;&#046;&#105;&#110;&#100;&#117;&#115;&#116;&#114;&#105;&#101;&#115;</a>
      </p>
      <p><a href ="https://the-international.infinite.industries">Back to project home</a></p>
    </div>
  </div>
  <div class="col-sm-3 hidden-xs"> </div>
</div>
