{{#if delivery_status}}<h1>Yes!</h1>
{{else}}
<div class="jumbotron">
Hmmmm... something went wrong. One or more cards did not get processed.
We will look into the issue and contact you shortly. Meanwhile, if you have any questions,
please reach out to us at info@infinite.industries
</div>
{{/if}}
