{{#if delivery_status}}
  <h1>Thank You!</h1>
  <p>Super appreciate the order and hope that you enjoy the experience
    of creating and seeing <em>The International</em> in your life.
  <p>
  <p>Estimated delivery date is: {{delivery_date}}</p>
{{else}}
<div class="jumbotron">
Hmmmm... something went wrong. One or more cards did not get processed.
We will look into the issue and contact you shortly. Meanwhile, if you have any questions,
please reach out to us at info@infinite.industries
</div>
{{/if}}
