.score{
  color:#aaa;
  font-family: "Lustri" , serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 110%;
}

.project-title{
  padding-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .score{
    font-size: 35px;
    margin-top: 20px;
    text-align: left;
  }

  #score_title{
    color:#fff;
    font-family: "Roboto" , sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
  }

  .project-title{
    margin-top: 70px;
    margin-right:5px;
  }

  .explanation{
    text-align: center;
  }

  .page-top{
    margin-top:20px;
  }

  h1{
    font-size: 300%;
  }

  h4{
    font-size: 200%;
  }

}

@media only screen and (max-width: 767px) {
  .score{
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
  }

  #score_title{
    color:#fff;
    font-family: "Roboto" , sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .project-title{
    margin-top: 30px;
    margin-right:15px;
  }

  .explanation{
    text-align: left;
  }
  .page-top{
    margin-top:5px;
    margin-bottom:5px;
  }

  h1{
    font-size: 160%;
  }

  h4{
    font-size: 120%;
  }
}

#social_media{
  margin-top: 30px;
}
.fa{
  margin-right: 10px;
}

.bottom-shim{
  margin-bottom: 30px;
}
.submit_order{
  margin-top:20px;
  margin-right:20px;
  padding-right: 50px;
  padding-left: 50px;
}

.panel-results{
  margin-top: 20px;
}

#cancelButton{
  margin-right: 10px;
}

h2 em {
  font-size: 70%;
}

.animation-container{
  position:relative;
  height:300px;
  background-color: black;
}

#process_presentation {
  /*background-color: green;  */
}

.process-explained{
  position:absolute;
  width:100%;
  text-emphasis: center;
  visibility: hidden;
}

#order_form{
  margin-left: 20px;
  margin-bottom: 20px;
}
